<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header | Nav bar</title>
</head>
<body>
    <div class="h-20 bg-red-300 "></div>
</body>
</html>