<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-5">
        <div class="flex flex-col gap-y-5">
            <div class="flex items-center justify-center">
                <span class="iconify" data-icon="material-symbols:delete-outline-rounded" data-width="25"
                     data-height="16"></span>
            </div>
        <h2>Are you sure to delete?</h2>
        <div class="flex items-center gap-2">
            <button class="btn btn-outline" click="hideDeleteConfirmation()">Cancel</button>
            <button class="btn bg-[#10B981] text-white">Confirm</button>
        </div>
        </div>
    </div>
</body>
</html>