<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle || 'PharmaOS' %></title>
  <link rel="stylesheet" href="/css/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body class="flex h-screen w-full overflow-hidden bg-slate-100">
  <div>
    <%- include('../partials/theSidebar')  %>
  </div>
  
  <div class="flex flex-col flex-1 overflow-hidden">
    <%- include('../partials/theHeader') %>
    <main class="flex-1 overflow-y-auto p-5">
      <%- body %>
    </main>
  </div>

</body>
</html>