<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <a href="/">
            Home
        </a>
        <div>Copy write <span id="copyWrite "></span></div>
        <div>link</div>
    </footer>
</body>
<script>
    const date = new Date().getFullYear() 
    const year = document.getElementById('copyWrite')
    year.innerHTML = date 
</script>
</html>